@tailwind base;
@tailwind components;
@tailwind utilities;

#nprogress .bar {
  @apply !bg-black
}

:root{
  --base-white: #fff;
  --base-gray: #fff;
  --base-black: #444;
  --base-backdrop-blur: blur(8px);
}

